/*BASE FOUNDATIONS*/
html{
	scroll-behavior: smooth;
}
body {
  background: black;
  background-image: url(/img/background_angles.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100vw;
}
.grid {
	display: grid;
	grid-template-columns: repeat(5, [col] 1fr);
	grid-template-rows: repeat(5, [row] auto);
	box-sizing: border-box;
}
li{
	list-style:none;
	margin:10px;
}
/*NAVIGATION BAR*/
nav {
	position: sticky;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 20px;
	background-image: linear-gradient(
		-90deg,
		rgb(1, 1, 20),
		rgb(6, 0, 15)
	);
	align-items: center;
	box-shadow: 0 0 20px 0 rgb(7, 24, 56);
}
nav * {
	display: inline;
}
nav a{
	font-family: Verdana, sans-serif;
	color: rgb(255, 255, 255);
	font-size: calc(15px + (26 - 14) * ((100vw - 200px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 200px)/(1600 - 300)));
	margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
}
nav a:hover {
	color: lightblue;
	border-bottom: 5px solid rgb(9, 0, 63);
	border-radius: 5px;
}
nav a:active {
	color: rgb(36, 36, 158);
}
nav a img{
	z-index: 20;
	display: inline;
	margin: 5px;
	font-size: calc(20px + (26 - 14) * ((100vw - 200px) / (1600 - 300)));
	text-decoration: none;
	text-align: center;
	color: rgb(144, 126, 207);
}
nav a img :hover {
	color: rgb(194, 178, 233);
	font-size: calc(25px + (26 - 14) * ((100vw - 200px) / (1600 - 300)));
}

@media only screen and (max-width: 768px) {
	nav *{
		display: block;
		text-align: center;
	}
}

/*FOOTER*/
footer p {
	text-align: center;
	  color:rgb(56, 56, 56);
	  font-size:20px;
  }

/*ABOUT PAGE*/
.bg-image img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	margin-top:30px;
	margin-bottom:30px;
}
.profile{
	display:flex;
	margin:20px;
}
.first-section{
	float:right;
	margin-left: 20px;
}

.title-b {
	color: #E3EBFF;
	font-family: Linden Hill;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 8vw;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top:10vh;
	margin-bottom:10vh;
}
.first-section h1,
.second-section h1 {
	color: #E3EBFF;
	font-size: calc(20px + (26 - 14) * ((100vw - 200px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 200px)/(1600 - 300)));
	margin:10px;
}
.first-section p,
.second-section p {
	color: #E3EBFF;
	font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
	margin:10px;
}
/*PORTFOLIO*/
#ux{
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}
#ux a{
	color: #5d5bc5;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	display: block;
}
#ux a:hover {
	color: #7bbccc;
  }
@media screen and (max-height: 450px) {
	#ux {padding-top: 15px;}
	#ux a {font-size: 18px;}
  }
.section-b,
.section-a {
	font-family: Impact;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 22vw;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #1a1a1a;
}
.section-a{
	display:flex;
	float: left;
}
.section-b{
	display:flex;
	float: right;
}
#gallery-1 img{
	width:40%;
	height:auto;
	margin:20px;
}
#gallery-1 a{
	background:black;
}
/*CONTACT PAGE*/
.contact{
	color: #E3EBFF;
	font-family: Linden Hill;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 3vw;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top:10vh;
	margin-bottom:10vh;
}
.heartbox{
	grid-row: row 2;
	grid-column: col 2;
	align-self: center;
}
#heart{
    width:15%;
}
#comments{
	margin:30px;
	display:grid;
	grid-template-columns: repeat(2, [col] 1fr);
	grid-template-rows: repeat(3, [row] auto);
}
#comments h1{
	grid-row: row 1;
	grid-column: col 1/ span 2;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: calc(15px + (26 - 14) * ((100vw - 200px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 200px)/(1600 - 300)));
	margin:20px;
	color: rgb(74, 31, 175);
}
form{
	grid-row: row 2;
	grid-column: col;
	justify-self: center;
	color:white;
	font-family: 'Arial Narrow Bold', sans-serif ;
	font-size: medium;
	padding:1%;
	max-width: 50%;
}
input[type="submit"] {
	background-image: linear-gradient(
		to left,
		rgba(255, 146, 202, 0.75) 0%,
		rgba(145, 149, 251, 0.86) 100%
	);
	box-shadow: 0 9px 25px -5px #df91fb;
	font-family: "Abel", sans-serif;
	padding: 0.5em 1.9em;
	margin: 2.3em 0 0 0;
	border-radius: 7px;
	font-size: 1.4em;
	cursor: pointer;
	color: #ffffff;
	outline: none;
	border: none;
	transition: 0.3s linear;
}
input[type="submit"]:hover {
	transform: translatey(2px);
}
input[type="submit"]:active {
	transform: translatey(5px);
}
.follow {
	float:right;
	font-family: Impact;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 28vw;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #1a1a1a;
}
/*INDEX HOME PAGE*/
.headline{
	max-width: 100%;
	height:auto;
}
#details{
	display:flex;
	margin:20px;
}
#details h1{
	font-family: Verdana, sans-serif;
	font-size: calc(15px + (26 - 14) * ((100vw - 200px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 200px)/(1600 - 300)));
	margin:20px;
	color:rgb(219, 217, 217); 
}
#details p{
	float:right;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: calc(10px + (26 - 14) * ((100vw - 200px) / (1600 - 300)));
	line-height: calc(2em + (1.5 - 1.2) * ((100vw - 200px)/(1600 - 300)));
	color:rgb(212, 209, 209);

}
#photoshoot{
	display:flex;
	margin:20px;
}
#photoshoot p{
	float:left;
	font-family: Verdana, sans-serif;
	font-size: calc(10px + (26 - 14) * ((100vw - 200px) / (1600 - 300)));
	line-height: calc(2em + (1.5 - 1.2) * ((100vw - 200px)/(1600 - 300)));
	color:rgb(123, 147, 192);
	text-align:center;
}
#fairy{
	width:5%;
	height:auto;
	position:absolute;
	top:25%;
	left:75%;
	transform:translate(-50%, -50%);
	animation:fly 4s cubic-bezier(.23,.93,.66,.42)  infinite;

}
@keyframes fly{
	0%{
		
	}
	30%{
		transform:translate(-50%, -40%);
			transform:translateX(-70%);
	}
	50%{
		transform:translate(-50%, -60%);
		transform:translate(10%,50%);
	}
	100%{
		transform:translate(-50%, -40%);
		transform:translate(-50%, -50%);
	}
}
.cls-1{
	animation:pulsing 1s infinite;
}
@keyframes pulsing{
	0%{
		transform:scaleX(1);
	}
	50%{
		transform:scale3d(1.0,1.06,1.06);
	}
		100%{
		transform:scaleX(1);
	}
}
/*LIST OF THINGS I CAN DO*/
.li-b {
	color: rgb(0, 101, 126);
	list-style: none;
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: calc(10px + (26 - 14) * ((100vw - 200px) / (1600 - 300)));
	line-height: calc(2em + (1.5 - 1.2) * ((100vw - 200px)/(1600 - 300)));
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
.list-b {
	margin-top:10vh;
	grid-row: row;
	grid-column: col /span 2;
	align-self: end;
	margin-bottom: 10vh;
}
.list-c {
	margin-top:10vh;
	grid-row: row;
	grid-column: col 3/span 2;
	align-self: end;
	margin-bottom: 10vh;
}


/*VIDEO BACKGROUND*/
:root {
	/* Base font size */
	font-size: 10px;

	/* Full grid area variable */
	--fullGrid: 1 / 1 / -1 / -1;
}
.video-bg {
	/* Span the full grid */
	grid-area: var(--fullGrid);

	/* Re-size video to cover full screen while maintaining aspect ratio */
	max-width: 75%;
	height:auto;
	object-fit: cover;
}